# Server
PORT=3000
NODE_ENV=development

# PostgreSQL
DATABASE_URL="postgresql://postly_user:postly_pass@localhost:5433/postly_db"

# Redis
REDIS_URL="redis://localhost:6379"

# JWT
JWT_ACCESS_SECRET=Hp43zs3pRAF8gT40XcBHjof2ib4imLGQ
JWT_REFRESH_SECRET=uuvRu3i6hxhNzLn1PBbhhVz8x45HvF2e
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Encryption (AES-256) — must be exactly 32 chars
ENCRYPTION_KEY=0441a0ae07b12dde59a2cb8fbf775dca635ed73dd79b0b5f736edf46f73f6e5f

# Telegram
TELEGRAM_BOT_TOKEN=8632556107:AAGLTkIf9o6PUW_gekzTEeyER6yM6aaRvv0
TELEGRAM_WEBHOOK_URL=https://spruce-unrest-purgatory.ngrok-free.dev/webhook/telegram

# OpenAI (platform fallback key)
OPENAI_API_KEY=sk-..

# Anthropic (platform fallback key)
ANTHROPIC_API_KEY=sk-ant-...
